/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
  color: #6b1a22;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 15px 10px;
  text-align: center;
  padding: 20px;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #a35766;
  color: #ecdbc9;
}

main img {
  width: 100%;
}

/* ---  Groups & Items --- */

/* for mobile view we need this to stack (ie. "column") */
.group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item {
  flex: 1;
  margin: 15px;
  flex-direction: column;
  justify-content: center;
}
/* the margin here will make sure there's space between the items in the double class */
.item-double {
  flex: 2;
  margin: 10px;
  justify-content: center;
}

/* -------  Navigation ------- */

header {
  background-color: #83092e;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Tangerine", cursive;
  font-size: 72px;
  color: #ecdbc9;
}
/* this will center the links below the logo */
header nav {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.nav-links {
  display: flex;
  padding-left: 0;
  list-style: none;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #ecdbc9;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #a70e16;
  text-decoration: none;
}

/*this will ensure images on a mobile view will stack instead of squeeze in side by side */
.group img {
  flex-direction: column;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* -------  Join Form ------- */
#form-img {
  width: 100%;
}

form {
  border: 2px solid #6b1a22;
  padding: 5px;
}

.form-field {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

form label {
  font-weight: bold;
  font-size: 15px;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form div {
  display: flex;
  justify-content: space-between;
}

form button {
  background-color: #83092e;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}
/* -------  Footer ------- */

footer {
  background-color: #83092e;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
/* for desktop computers */

@media all and (min-width: 480px) {
/*this will ensure everything in a group class is side by side rather than stacked */
  .group {
    flex-direction: row;
    align-items: center;
  }
/* for desktops we want the navigation to be next to the logo, this code does that */
  header {
    display: flex;
    padding: 0 30px;
    justify-content: space-between;
  }

  header h1 {
    font-size: 72px;
    margin: 14px 0;
    padding-top: 6px;
    justify-content: space-between;
  }

  header nav {
    margin-top: 8px;
  }
}
